#chat-screen{
  background-color: var(--astroE);
  height: 1000vh;
}
#chat-screen .status-bar{
  background-color: var(--astroE);
  z-index: 10;
  width: 100%;
}
#chat-screen .alt-header{
  position: fixed;
  width: 100%;
  top:25px;
  box-sizing: border-box;
  background-color: var(--astroE);
  z-index: 1;
}
.main-chat{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat_timestamp{
  color: #fff;
  background-color: var(--astroB);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row{
  width: 100%;
  display: flex;
}
.message-row img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 25px;
}
.message__author{
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}
.message__info{
  display: flex;
  align-items: flex-end;
}
.message__bubble{
  background-color: #fff;
  padding: 8px 13px;
  border-radius: 15px;
  font-size: 18px;
  border-top-left-radius: 0;
}
.message__time{
  opacity: 0.8;
  font-size: 14px;
  margin: 0 5px;
}

.message-row--own{
  justify-content: flex-end;
}
.message-row--own .message__bubble{
  background-color: var(--astroD);
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
}
.message-row--own .message__info{
  flex-direction: row-reverse;
}

.reply{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child{
  width: 10%;
}
.reply .reply__column:last-child{
  width: 90%;
  position: relative;
}
.reply i{
  opacity: 0.5;
}
.reply input{
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}
.reply__column:last-child > i,
.reply__column:last-child button{
  position: absolute;
  right:-19px;
  top: 3px;
}
.reply__column:last-child > i{
  right:25px;
  top: 18px;
  font-size: 24px;
}
.reply__column button{
  background-color: var(--astroD);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i{
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active{
  outline: none;
}